

	<nav class="nav navbar-dark bg-primary" role="navigation">
		<div class="nav-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<label class="navbar-brand">Crisp Cloud Solutions</label>

		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">Settings <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">

						<li align='right'>

							<a ng-click='goToDashboard()'>

								<span class="glyphicon glyphicon-th-large"></span>Dashboard

							</a>

						</li>

						<li align='right'>

							<a ng-click='onLogout()'>

								<span class="glyphicon glyphicon-log-out"></span>Log Out

							</a>

						</li>

					</ul>

				</li>

			</ul>
		</div>
	</nav>

<div class="panel panel-success">
  		<div class="panel-heading">
  			<label>Project Title : {{datas.Title}}</label>
  			<span class="pull-right">
  				<label>Project Code : {{datas.PCode}}</label>
  			</span>
  		</div>
</div>

<div class="container">
	 <div class="panel-group" ng-accordion options="simpleAccordionOptions">
			<div class="col-md-3">

				<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions1">

					<div class="panel-heading" ng-accordion-heading>
						<label>Payment Status</label>
						<b><span class="pull-right" style="color:#1719dd"> <i class="fa fa-rupee"></i>{{datas.Amount-datas.Paid}}</span></b>
					</div>
				 <div class="panel-collapse collapse in" ng-accordion-body>
					<div class="panel-body">
						<label>Total Amount :  <i class="fa fa-rupee"></i>{{datas.Amount}} </label>
						<br><br>
						<p>Paid :  <i class="fa fa-rupee"></i>{{datas.Paid}} </p>
						<p class="text-danger">Pending :  <i class="fa fa-rupee"></i>{{datas.Amount-datas.Paid}}</p>
					</div>
				 </div>
				</div>


				<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions2">
					<div class="panel-heading" ng-accordion-heading>
						<label>Project Handled By</label>
						<b><span class="pull-right" style="color:#1719dd"><a href="#"><u>view...</u></a></span></b>
					</div>
				 <div class="panel-collapse collapse in" ng-accordion-body>
					<div class="panel-body">			
						<p><label>Employee Name : </label><br/> {{datas.HandledBy}}</p><br>
						<p><label>Contact Number : </label><br/> (+91) {{datas.EmpContact}}</p>
					</div>
				 </div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions4">
					<div class="panel-heading" ng-accordion-heading>
						<label>About Project</label>
						<b><span class="pull-right" style="color:#1719dd"><a href="#"><u>view...</u></a></span></b>
					</div>
				 <div class="panel-collapse collapse in" ng-accordion-body>
					<div class="panel-body">
					<p class="text-justify">

						The current System of a company is very ancient and need to be replacing as companies business is expanding. One of the biggest disadvantages of the current system is that lacking of computerized food order each time a customer need to order food he has to wait for the wairt to take their order and then give to the chef who will be preparing our food. So this process is very time consuming and very ancient. This is very difficult to manage. And there also situations where the customers mixes the order and gives food of one customer to another and there are also situations where customer forgets to take the order and even after tking the order he forgets to supply food on time.

						All the existing system is traditional and lack of use of technology, therefore the process is very time consuming and lengthy as paper work is there. This was creating problem in maintain data record at the end like employee attendence, bill, payslip, salary slip etc.

						This document will propose all features and procedures to develop the system.

						This document specially containing details about objectives, scope limitation, process model, primary requirements, team development,  possible project risks, project schedule, and finally monitoring and reporting mechanisms.
					</p>
					</div>
				 </div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions5">
					<div class="panel-heading" ng-accordion-heading>
						<label>Project Status</label>
						<b><span class="pull-right" style="color:#1719dd">{{totalPercentage}}%</span></b>
					</div>
				 <div class="panel-collapse collapse in" ng-accordion-body>	
					<div class="panel-body" >
						<label>Project Completion Status : <span class="text-success"> {{totalPercentage}}%</span></label>
						<!-- chart types : column2d, column3d, line, area2d, bar2d, bar3d, pie2d, pie3d, doughnut2d, doughnut3d, pareto2d, pareto3d -->
						<div fusioncharts width="245" height="350" type="line" datasource="{{myDataSource}}">
						</div>
							
					</div>
				 </div>
				</div>

				<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions6">
					<div class="panel-heading" ng-accordion-heading>
						<label>Delivery Date</label>
						<b><span class="pull-right" style="color:#1719dd">{{datas.DeliveryDate}}</span></b>
					</div>
					 <div class="panel-collapse collapse in" ng-accordion-body>	
						<div class="panel-body">
							<p>{{datas.DeliveryDate}}</p>
						</div>
			 		</div>
				</div>

				<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions3">
					<div class="panel-heading" ng-accordion-heading>
						<label>Project Manager</label>
						<b><span class="pull-right" style="color:#1719dd"><a href="#"><u>view...</u></a></span></b>
					</div>
				 <div class="panel-collapse collapse in" ng-accordion-body>
					<div class="panel-body">
						<p><label>Name : </label><br/>{{datas.Manager}}</p><br>
						<p><label>Contact Number : </label><br/> (+91) {{datas.ManagerContact}}</p>
					</div>
				 </div>
				</div>
			</div>
		</div>

		<div class="row">
		    <div class="col-md-12">
		    	<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions7">
					<div class="panel-heading" ng-accordion-heading>
						<label>Project Images</label>
						<b><span class="pull-right" style="color:#1719dd"><a href="#"><u>view...</u></a></span></b>
					</div>
					 <div class="panel-collapse collapse in" ng-accordion-body>	
						<div class="panel-body">
							<div class="col-md-4" ng-repeat="image in images">
								<a href="#" class="thumbnail">
						        	<p>CB2-1516-CSD0001</p>    
						        	<img src="../uploads/project/{{image.fileName}}" alt="Project Image" style="width:150px;height:150px">
						      </a>
						    </div>
						</div>
			 		</div>
				</div>
		      
				<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions8">
					<div class="panel-heading" ng-accordion-heading>
						<label>Project History</label>
						<b><span class="pull-right" style="color:#1719dd"><a href="#"><u>view...</u></a></span></b>
					</div>
				 <div class="panel-collapse collapse in" ng-accordion-body>	
					<div class="panel-body">
						<timeline>
						  <timeline-event ng-repeat="event in events" side="alternate">
						    <timeline-badge class="{{event.badgeClass}}">
						      <i class="glyphicon {{event.badgeIconClass}}"></i>
						    </timeline-badge>
						    <timeline-panel class="{{event.badgeClass}}"ng-hide="false">
						      <timeline-heading>
						        <h4 class="text-info">{{event.title}}</h4>
						      </timeline-heading>
						      <h5>{{event.content}}</h5>
						    </timeline-panel>
						  </timeline-event>
						</timeline>
					</div>
				 </div>
				</div>

				<div class="panel panel-info" ng-accordion-group options="accordionGroupOptions9">
					<div class="panel-heading" ng-accordion-heading>
						<label>For any queries or changes in this project (Title change or other clarification)</label>
						
					</div>
				 <div class="panel-collapse collapse in" ng-accordion-body>
					<div class="panel-body">
						<textarea class="form-control" rows="5" ng-model="question" ng-required="true"></textarea>
						<br/>
						
							<button type="submit" class="btn btn-primary pull-right"  ng-click="postData()">SUBMIT</button>
					</div>
				 </div>
					
				</div>


			</div>
			
		</div>
	</div>
</div>